@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


:root {
    --black: #000000;
    --white: #ffffff;
    --green: #b9ff66;
    --dark: #191a23;
    --light: #f3f3f3;
}

.btn {
    text-decoration: none;
    color: var(--black);
    padding: 14px 30px;
    border: 1px solid var(--black);
    border-radius: 14px;
    font-size: 18px;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: var(--green);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    color: var(--black);
    background-color: var(--white);
    font-family: "Space Grotesk", sans-serif;
}


/* Navbar positioning configuration */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
}

.link-item {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
    transition: color 0.2s ease;
}

.link-item:hover {
    color: var(--green);
}

.burger-icon {
    width: 28px;
    height: 28px;
    display: none;
}

.learn-btn {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

.icon img {
    width: 35px;
    height: 35px;
}

.learn-text {
    font-size: 18px;
    color: var(--black);
}

.learn-text-2 {
    font-size: 18px;
    color: var(--light);
}

.footer-container {
    background-color: var(--dark);
    color: var(--white);
    width: 100%;
    max-width: 1140px;
    border-radius: 45px 45px 0 0;
    padding: 50px 60px;
    margin-top: 100px;
    margin-bottom: 30px;
}

/* Top Row Styles */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-icon img {
    width: 180px;
    height: 29px;
    filter: invert();
}


.footer-nav {
    display: flex;
    gap: 30px;
}

.footer-nav a {
    color: var(--white);
    text-decoration: underline;
    font-size: 15px;
}

.footer-nav a:hover {
    color: var(--green);
}

.footer-socials {
    display: flex;
    gap: 20px;
}

.footer-socials a img {
    width: 30px;
    height: 30px;
}

/* Middle Row Styles */
.footer-middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

.contact-label {
    background-color: var(--green);
    color: var(--black);
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    align-self: flex-start;
}

.footer-contact p {
    font-size: 15px;
    line-height: 1.5;
}

.footer-contact a {
    color: var(--white);
    text-decoration: none;
}

/* Newsletter Box */
.footer-newsletter {
    display: flex;
    padding: 58px 40px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 14px;
    background: #292A32;
}


.newsletter-form button {
    display: flex;
    padding: 20px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 14px;
    background: var(--Green, #B9FF66);
}


/* Divider */
.footer-divider {
    border: none;
    border: 1px solid var(--white);
    opacity: 0.2;
    margin-bottom: 25px;
}

.email {
    display: flex;
    width: 285px;
    padding: 22px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 14px;
    border: 1px solid var(--white);
}

/* Bottom Row Styles */
.footer-bottom {
    display: flex;
    gap: 30px;
    font-size: 14px;
    color: var(--white);
}

.privacy-link {
    color: var(--white);
    text-decoration: underline;
    padding: 15px;
}


@media screen and (max-width: 530px) {
    .nav-links {
        display: none;
    }

    .parent-container {
        flex-direction: column;
        text-align: center;
    }

    .burger-icon {
        display: block;
    }


    .footer-container {
        flex-wrap: wrap;
        align-content: center;
    }

    .contact-label {
        align-self: center;
    }

    .footer-top,
    .footer-middle,
    .newsletter-form {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .footer-newsletter,
    .newsletter-form button {
        align-items: center;
        width: 100%;
    }

}