* {
    box-sizing: border-box;
}

body {
    color: black;
    background-color: white;
    overflow-x: hidden;
    font-family: "Space Grotesk", sans-serif;
}


/* Navbar positioning configuration */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
}

.link-item {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.2s ease;
}

.link-item:hover {
    color: #B9FF66;
}

.burger-icon {
    width: 28px;
    height: 28px;
    display: none;
}

/* Button Layout Style */
.btn,
.btn-2 {
    text-decoration: none;
    color: black;
    padding: 14px 30px;
    border: 1px solid black;
    border-radius: 14px;
    font-size: 18px;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: #B9FF66;
}

.btn-2 {
    background-color: #191A23;
    color: white;
}

.btn-2:hover {
    background-color: #f3f3f3;
    color: black;
}